# Ignore all archived files/folders used for team communication:
*.zip
*.7z
*.rar
*.tar*
*.tgz
*.dmg
*.app
*.hpp

# Ignore temporary files/folders used for testing:
temp*
*TODO*

# Ignore already compiled code:
*.exe